.loading-spinner-container {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
    /* background-color: rgba(0, 0, 0, 0.925) !important; */
  }
  